In [ ]:
for items in range(10):
  print(items)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#create new albitrary 2d list
import copy
a = [[2,3,5],[1,4,7]]
print("our a is: ", a)
print(len(a[0]))

#shalow copy
Christiano = 37
cr7 = copy.copy(Christiano)
print(cr7)
cr7 = 40
print(cr7)
print(f"sum of {a[0][1]} and {a[1][-1]} is:  {a[0][1]+a[1][-1]}")

#and deep copy

our a is:  [[2, 3, 5], [1, 4, 7]]
3
37
40
sum of 3 and 7 is:  10

In [ ]:
a = [[1,2,3],[4,5,6]]
col = 1
loList =[]
for row in range(len(a)):
  print(loList)
  loList+= [a[row][col]]

[]
[2]

Set and dictionaries

In [30]:
#this is the set in python
#set can accept elements of different data types
#sets are mutable

s = {3, 4, 5, 6} #first way of creating a set
d = set(s)
print(d)
print(s)
z=set([1,2,3,4,5,6,7,8,9,"hi"])#second way of creating a set
print(z)
z.add(0)
z.remove(8)
print("new z: ",z)
tupple_a = (2,3,1,0)
print("tupple: ", tupple_a)
list_a = [2,3,4,5]
print(f"List_a is: {list_a}")

a = ["list", "are", "mutable"]
set_1 = set(a)
print(set_1)
dictionary = {
    "color":"blue",
    "size": "small"
}
print(dictionary)
dict_2={
    1: "names",
    2:"age"
}
print(dict_2)
print(1 in dict_2.keys())#to access keys in dictionary
print("names" in dict_2.values())#to access values in dictionary

{3, 4, 5, 6}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi'}
new z:  {0, 1, 2, 3, 4, 5, 6, 7, 9, 'hi'}
tupple:  (2, 3, 1, 0)
List_a is: [2, 3, 4, 5]
{'mutable', 'list', 'are'}
{'color': 'blue', 'size': 'small'}
{1: 'names', 2: 'age'}
True
True

dictionary

In [ ]:
stateMap ={"pittsburgh": "PA", "Chicago":"IL", "seattle":"WA"}
city = input("Enter nameof city").lower()
if city in stateMap

example

In [ ]:
while True:
  n = int( input("enter an integer: "))
  if(n==0):
    break;

another exaples

In [33]:
d = {"a", "b", "c"}
s = list(d)
print(s)

['c', 'a', 'b']

another

In [41]:
d = dict()#defining an empty dictionary
print(d)
d[0] = "100"#adding new value into dictionary
d[1] = "200"
d[2] = "300"
print("\n." *6)
print(d)

{}

.
.
.
.
.
.
{0: '100', 1: '200', 2: '300'}